/* BCS3453 [PROJECT]-SEMESTER 2324/1
Student ID: CB21016
Student Name: MUHAMMAD AFIQ AMMAR BIN MURAD */

.playvid2 {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#login {
    padding: 25px;
    background: #55BCC9;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 4px 20px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    display: table;
    margin: 0 auto;
    max-width: 400px;
}

#login .header {
    text-align: center;
    margin-bottom: 20px;
}

#login .header img {
    max-width: 100%;
    height: auto;
}

#login .header p {
    font-size: 24px;
    color: #feffff;
    font-family: 'Playfair Display', serif;
}

#login .box {
    height: 1px;
    background: #e8e8e8;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#login .input {
    text-align: center;
}

#login .input input[type="text"],
#login .input input[type="email"],
#login .input input[type="password"],
#login .input select {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

#login .input input[type="submit"] {
    background-color: #21b5b5;
    border: none;
    width: 100%;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#login .input a {
    text-decoration: none;
    color: #1f7878;
}

#login .input a:hover {
    text-decoration: underline;
}