/* BCS3453 [PROJECT]-SEMESTER 2324/1
Student ID: CB21016
Student Name: MUHAMMAD AFIQ AMMAR BIN MURAD */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.bodyclass {
    font-family: 'Poppins', sans-serif;
    background-color:#EEE2DC;
    margin-top:100px;
    margin-bottom: 70px;
    overflow-x: auto;
}

#navbarbackcolor {
    background-color: rgba(255, 221, 182, 1);
}

.homeimage {
    height: 85px;
    width: auto;
    padding-top: 10px;
}

.homeimage2 {
    height: 65px;
    width: 65px;
}

.dropdown-toggle::after {
    display: none;
}

.aboutrunmalaysiaimg {
    width: 400px;
    height: auto;
    margin-top: 25px;
}

.aboutkbsimg {
    width: 170px;
    height: auto;
}

.currentphoto {
    height: 350px;
    width: auto;
}

.currentphoto2 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.playvid {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.join-eventlink {
    text-decoration: none;
    color: rgb(255, 182, 55);
    transition: color 0.25s;
}

.join-eventlink:hover {
    color: rgb(212, 152, 0)
}

.operation_icon {
    width: 30px;
    height: 30px;
    align-items: center;
}

.imagebanner {
    width: 100%;
    height: 400px;
}

.box-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(206, 206, 206);
    border-radius: 30%;
    width: 200px;
    height: 250px;
}