@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#navbarbackcolor {
    background-color: rgba(255, 221, 182, 1);
}

.homeimage {
    height: 85px;
    width: auto;
    padding-top: 10px;
}

.homeimage2 {
    height: 65px;
    width: auto;
}

.dropdown-toggle::after {
    display: none;
}

.aboutrunmalaysiaimg {
    width: 400px;
    height: auto;
    margin-top: 25px;
}

.aboutkbsimg {
    width: 170px;
    height: auto;
}

.currentphoto {
    height: 350px;
    width: auto;
}